@theme inline {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono: "Geist Mono", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono--font-feature-settings: "ss02", "zero";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);

  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@utility touch-hitbox {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.21 0.034 264.665);

  --primary: oklch(0.6 0.118 184.704);
  --primary-fg: oklch(1 0 0);

  --primary-subtle: oklch(0.704 0.14 182.503 / 0.15);
  --primary-subtle-fg: oklch(0.511 0.096 186.391);

  --secondary: oklch(0.928 0.006 264.531);
  --secondary-fg: oklch(0.13 0.028 261.692);

  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.13 0.028 261.692);

  --accent: oklch(0.928 0.006 264.531);
  --accent-fg: oklch(0.13 0.028 261.692);

  --muted: oklch(0.967 0.003 264.542);
  --muted-fg: oklch(0.551 0.027 264.364);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.15);
  --success-subtle-fg: oklch(0.508 0.118 165.612);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);
  --danger-subtle-fg: oklch(0.505 0.213 27.518);

  --border: oklch(0.912 0.01 258.338);
  --input: oklch(0.872 0.01 258.338);
  --ring: oklch(0.6 0.118 184.704);

  --navbar: oklch(0.995 0.002 247.839);
  --navbar-fg: oklch(0.13 0.028 261.692);

  --sidebar: oklch(0.967 0.003 264.542);
  --sidebar-fg: oklch(0.13 0.028 261.692);

  --chart-1: oklch(0.6 0.118 184.704);
  --chart-2: oklch(0.704 0.14 182.503);
  --chart-3: oklch(0.777 0.152 181.912);
  --chart-4: oklch(0.855 0.138 181.071);
  --chart-5: oklch(0.91 0.096 180.426);

  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
  --bg: oklch(0.170 0.028 261.692);
  --fg: oklch(0.985 0.002 247.839);

  --primary: oklch(0.6 0.118 184.704);
  --primary-fg: oklch(1 0 0);

  --primary-subtle: oklch(0.704 0.14 182.503 / 0.1);
  --primary-subtle-fg: oklch(0.855 0.138 181.071);

  --secondary: oklch(0.248 0.033 256.848);
  --secondary-fg: oklch(0.985 0.002 247.839);

  --accent: oklch(0.278 0.033 256.848);
  --accent-fg: oklch(0.985 0.002 247.839);

  --muted: oklch(0.21 0.034 264.665);
  --muted-fg: oklch(0.707 0.022 261.325);

  --overlay: oklch(0.210 0.034 264.665);
  --overlay-fg: oklch(0.985 0.002 247.839);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
  --success-subtle-fg: oklch(0.765 0.177 163.223);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
  --danger-subtle-fg: oklch(0.704 0.191 22.216);

  --border: oklch(0.273 0.034 259.733);
  --input: oklch(0.323 0.034 259.733);
  --ring: oklch(0.6 0.118 184.704);

  --navbar: oklch(0.190 0.034 264.665);
  --navbar-fg: oklch(0.985 0.002 247.839);

  --sidebar: oklch(0.160 0.034 264.665);
  --sidebar-fg: oklch(0.985 0.002 247.839);

  --chart-1: oklch(0.511 0.096 186.391);
  --chart-2: oklch(0.704 0.14 182.503);
  --chart-3: oklch(0.777 0.152 181.912);
  --chart-4: oklch(0.855 0.138 181.071);
  --chart-5: oklch(0.91 0.096 180.426);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;

    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html {
    font-variation-settings: normal;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}


.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid var(--primary);
  transform: translateZ(0);
}
